@use "../global" as g;

/*!
page > hamburger-menu
------------------------------
*/

.hamburger-menu {
    transform: translateX(-100%);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--bg-blue);
    z-index: var(--z-index-modal);
    border: none;
    margin: 0;
    padding: 0;
    max-height: none;
    max-width: none;
    overflow: auto;

    @include g.mq() {
        z-index: var(--z-index-header);
    }
}

.hamburger-menu-bg {
    width: 100%;
    height: 100%;
}

.hamburger-menu::backdrop {
    display: none;
}

.hamburger-nav {
    color: var(--font-white);
    padding-top: 96rem;
    padding-bottom: 64rem;
    position: relative;
}

.hamburger-list {
    display: flex;
    flex-direction: column;
    @include g.mq() {
        text-align: center;
    }
}

.hamburger-item {
    @include g.mq() {
        padding-left: 0.05em;
    }
    &:not(:first-child) {
        margin-top: 24rem;
        @include g.mq() {
            margin-top: 32rem;
        }
    }
    a {
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 8rem;

        @include g.mq() {
            flex-direction: column;
            align-items: flex-start;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0;
            background-color: var(--font-white);
            transition: var(--transition-border);
        }
        @media (any-hover: hover) {
            &:hover {
                opacity: 0.8;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
.hamburger-item-text-en {
    font-family: var(--font-family-en);
    font-size: 24rem;
    @include g.mq() {
        font-size: 42rem;
    }
}

.hamburger-item-text-jp {
    font-size: 14rem;
    font-weight: 500;
    @include g.mq() {
        display: none;
    }
}

.hamburger-button {
    margin-top: 40rem;
    transition: var(--transition-transform);
    @include g.mq() {
        margin-top: 56rem;
        margin-inline: auto;
    }
    @media (any-hover: hover) {
        &:hover {
            transform: scale(1.05);
            .hamburger-button-arrow {
                transform: scale(1.05);
                @include g.mq() {
                    transform: translateY(-2rem);
                }
            }
        }
    }

    a {
        position: relative;
        padding: 17rem 31rem 13rem;
        border: 1px solid var(--bg-base);
        border-radius: 100vh;
        display: inline-flex;
        align-items: center;
        gap: 97rem;
        z-index: var(--z-index-zero);
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: var(--z-index-minus);
            background: var(--hamburger-button);
            border-radius: inherit;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: var(--z-index-minus);
            opacity: 0;
            border-radius: inherit;
            background: var(--bg-blue);
            transition: var(--transition-opacity);
        }
        @media (any-hover: hover) {
            &:hover::after {
                opacity: 1;
            }
        }
        @include g.mq() {
            gap: 24rem;
            padding: 24rem 40rem;
        }
    }
}

.hamburger-button-text {
    display: flex;
    gap: 8rem;
    align-items: center;
    @include g.mq() {
        gap: 0;
        display: inline-block;
        vertical-align: middle;
    }
}

.hamburger-button-text--en {
    font-family: var(--font-family-en);
    font-size: 24rem;
    @include g.mq() {
        line-height: 1;
    }
}

.hamburger-button-text--jp {
    font-size: 14rem;
    font-weight: 500;
    @include g.mq() {
        display: none;
    }
}

.hamburger-button-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center center;
    mask-image: url(../img/arrow02.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--font-white);
    width: 10rem;
    height: 18rem;
    transition: var(--transition-transform);
    @include g.mq() {
        transform: translateY(-2rem);
    }
}

.hamburger-close-button {
    display: none;
    @include g.mq() {
        position: absolute;
        top: 32rem;
        right: 64rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1rem solid var(--bg-base);
        width: 40rem;
        height: 40rem;
        border-radius: 50%;
        background: var(--hamburger-button);
        transition: var(--transition-bg-color);
        z-index: var(--z-index-default);
        @media (any-hover: hover) {
            &:hover {
                background: var(--bg-blue-hovered);
            }
        }
    }
}

.hamburger-close-button-icon {
    display: block;
    width: 24rem;
    height: 24rem;
    mask-position: center;
    mask-size: 24rem;
    mask-image: url(../img/close.svg);
    -webkit-mask-image: url(../img/close.svg);
    background-color: var(--bg-base);
}
